.login-background-image {
  background-image: url("../img/login-background.jpg");
  /* background-image: url("https://www.bhg.com/thmb/4NA3QtecnHu5upsd4Xmuo58aNHI=/1500x0/filters:no_upscale():strip_icc()/recipes-how-to-bake-how-to-make-a-cake-hero-74dd1d85bb5f4ee2bff88f0d1466dcb1.jpg"); */
  background-size: cover;
  background-position: center;
  /* background: rgba(255, 0, 0, 0.1); */
  /* position: relative; */
}

.login-lock-height {
  margin-top: 70px;
  /* height: calc(100vh - 90px - 253px); */
  height: calc(100vh - 10px - 295.69px);
}

.wrapper {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  filter: contrast(128%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height .2s ease;
}

.wrapper.active-forgotPassword {
  height: 400px;
}

.wrapper.active-register {
  height: 575px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

/* 當使用者點擊"Login"時，ForgotPassword部分做的調整 */
.wrapper .form-box.forgotPassword {
  position: absolute;
  transition: transform 0.18s ease;
  transform: translateX(-400px);
}

/* 當使用者點擊"Login"時，Login部分做的調整 */
.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

/* 當使用者點擊"Login"時，Register部分做的調整 */
.wrapper .form-box.register {
  position: absolute;
  transition: transform 0.18s ease;
  transform: translateX(400px);
}

/* 當使用者點擊"Register"時，ForgotPassword部分做的調整 */
.wrapper.active-register .form-box.forgotPassword {
  position: absolute;
  transition: transform 0.18s ease;
  transform: translateX(-800px);
}

/* 當使用者點擊"Register"時，Login部分做的調整 */
.wrapper.active-register .form-box.login {
  position: absolute;
  transition: transform 0.18s ease;
  transform: translateX(-400px);
}

/* 當使用者點擊"Register"時，Register部分做的調整 */
.wrapper.active-register .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

/* 當使用者點擊"ForgotPassword"時，ForgotPassword部分做的調整 */
.wrapper.active-forgotPassword .form-box.forgotPassword {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

/* 當使用者點擊"ForgotPassword"時，Login部分做的調整 */
.wrapper.active-forgotPassword .form-box.login {
  position: absolute;
  transition: transform 0.18s ease;
  transform: translateX(400px);
}

/* 當使用者點擊"ForgotPassword"時，Register部分做的調整 */
.wrapper.active-forgotPassword .form-box.register {
  position: absolute;
  transition: transform 0.18s ease;
  transform: translateX(800px);
}

.wrapper .form-box .error-list {
  display: flex;
  justify-content: left;
}

.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
  margin-top: 30px;
}

/* input-box本身+其裡面的3個(label, input, .icon) */
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}

.remember-forgot {
  width: 100%;
  font-size: 0.9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-forgot label {
  display: flex;
  align-items: center;
}

.remember-forgot label input {
  /* 它通常會影響一些使用者介面控件，比如輸入框在焦點狀態時的邊框顏色、滑鼠懸停時的效果等 */
  accent-color: #162938;
  margin-right: 3px;
  width: 18px;
  height: 18px;
}

.remember-forgot a {
  color: #162939;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn-forgot-login-register,
.btn-reset-password,
.btn-edit-password {
  width: 100%;
  height: 45px;
  /* background: #162938; */
  background: transparent;
  /* border: none; */
  border: 0.5px solid #162939;
  outline: none;
  border-radius: 6px;
  /* 改變鼠標圖示（類似滑鼠移到超連結上的） */
  cursor: pointer;
  font-size: 1em;
  color: #162939;
  font-weight: 500;
  transition: all 0.2s;
}

.btn-forgot-login-register:hover,
.btn-reset-password:hover,
.btn-edit-password:hover {
  background-image: linear-gradient(to right, lightsalmon, goldenrod);
  border: none;
  transform: scale(1.02);
  color: aliceblue;
  position: relative;
}

.forgot-login-register {
  font-size: 0.9em;
  color: #162938;
  /* 用於文字的水平置中 */
  text-align: center;
  /* 用於子元素的水平置中 */
  /* justify-content: center; */
  font-weight: 500;
  margin: 25px 0 10px;

}

.forgot-login-register p {
  display: flex;
  justify-content: space-between;
}

.forgot-login-register span a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}

.forgot-login-register span a:hover {
  text-decoration: underline;
}

.fa-eye,
.fa-eye-slash {
  cursor: pointer;
}

#terms-and-conditions {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  margin-right: auto;
}

#terms-and-conditions:hover {
  cursor: pointer;
  text-decoration: underline;
}

#swal-input-password {
  margin: 20.25px 8px 3px 60px;
}

.swal2-image {
  margin-top: 70px;
}

#user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: all 0.2s;
}

#user-image:hover {
  transform: scale(1.1);
  border: 3px solid rgb(223, 223, 223);
  cursor: pointer;
}

#user-dropdown-menu::before {
  content: "";
  width: 13px;
  height: 13px;
  background: #fff;
  position: absolute;
  top: -7px;
  right: 20px;
  transform: rotate(45deg);
  border-top: 1px solid gray;
  border-left: 1px solid gray;
}

#user-dropdown-menu li {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0 10px 0;
}

.user-dropdown-item {
  transition: all 0.2s;
}

.user-dropdown-item:hover {
  transform: scale(1.1);
  color: gray;
}

.user-dropdown-item i {
  margin-right: 15px;
}

#cart-link {
  font-size: 28px;
  transition: all 0.2s;
}

#cart-link:hover {
  transform: scale(1.3);
}

input:-webkit-autofill {
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
}

#swal2-html-container pre {
  white-space: pre-wrap;
  text-align: left;
}

#register-demo,
#forgot-demo {
  position: absolute;
  bottom: 50px;
  right: 10px;
}

#login-demo {
  position: absolute;
  bottom: 50px;
  right: 161px;
}